/*variables*/
:root {
    --font:Verdana, Geneva, Tahoma, sans-serif;
    --tColor:rgb(58, 68, 84);
}
/*general website style for bg and borders*/
* {
    background-color:rgb(194, 178, 180);
    border-style: dashed;
    border-color: rgb(107, 78, 113);
    border-radius:20px;
    margin: 10px;
    padding: 15px;
    text-indent: 10px;
}

/*header type styling*/
header, h3, h1 {
    font-family: var(--font);
    color: rgb(83, 104, 126);
    
}
/*paragraph styling*/
.removeBorder {
    border:none;
    background-color: aliceblue;
}
main section div p {
    font-style:oblique;
    color: var(--tColor);
    border:none;
    font-size:large;
   
}

h1{
    text-align: left;
    font-size:xx-large;
}
